<% if @characters.blank? %>
  <%= image_tag('wallpapertip_rick-and-morty-wallpaper_11371.jpg', class:'img-fluid') %>
<% else %>
<p id="notice"><%= notice %></p>
<div class="row my-5">
  <div class="col"></div>
  <div class="col-10">
    <% @characters.in_groups_of(5, false).each do |group| %>
      <div class="row">
        <% group.each do |character| %>
        <%= render partial: "character", locals: {character: character} %>
        <% end %>
      </div>
    <% end %>
  <div class="d-flex justify-content-center">
    <% if !@characters.blank? %>
      <%== pagy_bootstrap_nav(@pagy) %>
    <% end %>
  </div>
  </div>
  <div class="col"></div>
</div>
<% end %>